<?xml version="1.0" encoding="iso-8859-1"?>
<haxegui:Layout name="DemoLayout">
<![CDATA[
TODO:
* Menu and items
* Radio groups
* HScript scope's
]]>

    <String name="hello">Hello World</String>/>
    <Float name="aNumber">3.45</Float>

    <Array name="IntArray">
	<String>Item1</String>
	<String>Item2</String>
	<String>Item3</String>
	<String>Item4</String>
	<String>Item5</String>
    </Array>



    <haxegui:Window name="Xml hScript Widgets Window" x="300" y="30" width="512" height="512" sizeable="true" >

		<events>
			<script type="text/hscript" action="onLoaded">
				for( i in 1...4 )
				{
					var slider = this.getChildByName("Slider"+i);
					var stepper = this.getChildByName("Stepper"+i);

					function adjustStepper( e )
					{
						var x = e.target.getChildByName("handle").x;
						stepper.value = x;
						stepper.tf.text = Std.string(x);
						stepper.tf.setTextFormat( DefaultStyle.getTextFormat() );
					}

					function adjustSlider( e )
					{
						var x = e.target.value;
						slider.getChildByName("handle").x = x;
					}
					slider.addEventListener( flash.events.Event.CHANGE, adjustStepper);
					stepper.addEventListener( flash.events.Event.CHANGE, adjustSlider);
				}
			</script>
		</events>
		<haxegui:MenuBar name="menubar" width="512" x="10" y="20">
			<haxegui:Menu type="Object" name="menu1">
				<Item type="String">a</Item>
				<Item type="String">b</Item>
				<Item type="String">c</Item>
			</haxegui:Menu>
			<haxegui:Menu type="Object" name="menu2">
				<Item type="String">a2</Item>
				<Item type="String">b2</Item>
				<Item type="String">c2</Item>
			</haxegui:Menu>
		</haxegui:MenuBar>
		<haxegui:ScrollPane name="ScrollPane1" x="10" y="44" >
			<haxegui:Container name="Container1" width="512" height="512" >
				<haxegui:controls:Label x="30" y="8" >This window and it's content are dynamically generated from xml,
				Some events are also defined in hscript.</haxegui:controls:Label>
				<haxegui:controls:Button label="Click" x="30" y="50" width="120" />
				<haxegui:controls:Button label="me" x="160" y="50" width="40" />
				<haxegui:controls:Button label="disabled" x="210" y="50" disabled="true" />
				<haxegui:controls:Button name="colorButton" label="Red" x="310" y="50" color="0xB35959">
					<events>
						<script type="text/hscript" action="mouseUp"><![CDATA[
							if(this.color == 0xB35959) {
								this.color=0xA1F02A;
								this.label.tf.text = "Green";
							}
							else {
								this.color=0xB35959;
								this.label.tf.text = "Red";
							}
							this.dirty = true;
							//this.redraw();
							this.label.tf.setTextFormat(DefaultStyle.getTextFormat());
						]]></script>
					</events>
				</haxegui:controls:Button>

				<haxegui:controls:CheckBox name="CheckBox1" x="30" y="90" />
				<haxegui:controls:CheckBox name="CheckBox2" x="170" y="90" checked="true" />
				<haxegui:controls:CheckBox name="CheckBox3" x="310" y="90" disabled="true"/>

				<haxegui:controls:ComboBox name="ComboBox1" x="30" y="130" />
				<haxegui:controls:ComboBox name="ComboBox2" x="30" y="160" />
				<haxegui:controls:ComboBox name="ComboBox3" x="30" y="190" disabled="true" />

				<haxegui:controls:Slider name="Slider1" x="200" y="130" />
				<haxegui:controls:Slider name="Slider2" x="200" y="160" />
				<haxegui:controls:Slider name="Slider3" x="200" y="190" />

				<haxegui:controls:Stepper name="Stepper1" x="360" y="130" value="0" step="1" max="128"/>
				<haxegui:controls:Stepper name="Stepper2" x="360" y="160" step="5" max="128" />
				<haxegui:controls:Stepper name="Stepper3" x="360" y="190" step="10" max="128" />

				<haxegui:controls:Input name="Input1" x="30" y="220" />
				<haxegui:controls:Input name="Input2" x="30" y="250" />
				<haxegui:controls:Input name="Input3" x="30" y="280" disabled="true"/>

				<haxegui:controls:RadioButton name="RadioButton1" x="30" y="310" />
				<haxegui:controls:RadioButton name="RadioButton2" x="30" y="340" />
				<haxegui:controls:RadioButton name="RadioButton3" x="30" y="370" disabled="true" />
				<haxegui:controls:RadioButton name="RadioButton4" x="30" y="400" selected="true" disabled="true" />

				<haxegui:controls:UiList name="List1" x="210" y="250" >Apples,Bannanas,Oranges
					<events>
						<script type="text/hscript" action="onLoaded"><![CDATA[
							this.data.push("Milk");
							this.data.push("Bread");
							this.data.push("Eggs");
							this.redraw();
						]]></script>
					</events>
				</haxegui:controls:UiList>
				<haxegui:controls:UiList name="List2" x="360" y="250" width="300" data="@IntArray" />

			</haxegui:Container>

			<haxegui:Window name="ChildWindow" x="120" y="120" width="180" height="140" color="0xA5DE33">
				<haxegui:Container name="Container1"  x="10" y="20" width="100%" height="100%" color="0xA5DE33"  >
				<haxegui:controls:Label x="20" y="4" >I'm a green child window</haxegui:controls:Label>
				<haxegui:controls:Button label="Click" x="20" y="30" width="120" color="0xA5DE33" />
				</haxegui:Container>
			</haxegui:Window>

				<haxegui:controls:Component type="Class" name="comp" />

		</haxegui:ScrollPane>
    </haxegui:Window>


    <haxegui:Window name="Draggable Image Window" x="200" y="30" width="320" height="240" sizeable="true" color="0xC5A466" >
		<haxegui:ScrollPane name="ScrollPane1" x="10" y="20" height="220">
			<haxegui:Image name="Image" src="assets/118980243_2491ef8407_o.jpg" x="0" y="0" />
		</haxegui:ScrollPane>
		<haxegui:controls:Label name="Label" x="20" y="30" ></haxegui:controls:Label>
    </haxegui:Window>

<![CDATA[
This hscript does the following:
* Make image draggable & Send changes to scrollbars.
]]>
    <script type="text/hscript">

	var window = root.getChildByName("Draggable Image Window");
	var scrollpane = window.getChildByName("ScrollPane1");
	var label = window.getChildByName("Label");
	var image = scrollpane.content.getChildByName("Image");


	var x=0;
	var y=0;

	function onRollOver(e)
	    {
	    CursorManager.setCursor (Cursor.HAND);
	    }


	function onMouseDown(e)
	    {
	    x = e.localX;
	    y = e.localY;

	    CursorManager.setCursor (Cursor.DRAG);
	    }

	function onMouseUp(e)
	    {
	    CursorManager.setCursor (Cursor.ARROW);
	    label.getChildByName("tf").text = "";

	    }

	function onMouseMove(e)
	    {
		if (e.buttonDown)
		{
		var vert = scrollpane.vert.handle;
		vert.y -= (e.localY - y) / 50*Math.exp(1);
		scrollpane.vert.adjust();

		var horz = scrollpane.horz.handle;
		horz.y -= (e.localX - x) / 50*Math.exp(1);
		scrollpane.horz.adjust();

		label.getChildByName("tf").text = Std.string(scrollpane.content.scrollRect) ;
		label.getChildByName("tf").setTextFormat(DefaultStyle.getTextFormat());


		}
	    }

	image.addEventListener(flash.events.MouseEvent.MOUSE_OVER, onRollOver);
	image.addEventListener(flash.events.MouseEvent.MOUSE_DOWN, onMouseDown);
	image.addEventListener(flash.events.MouseEvent.MOUSE_UP, onMouseUp);
	image.addEventListener(flash.events.MouseEvent.MOUSE_MOVE, onMouseMove);

	trace("MouseEvent added to "+image);
    </script>


	<!--
    <haxegui:Window name="Align Test Window" x="100" y="100" width="512" height="512" sizeable="false"  >
		<haxegui:Container name="Container" x="10" y="20" >

			<haxegui:controls:RadioButton name="Top" x="230" y="10" />
			<haxegui:controls:Stepper name="topMargin" x="230" y="50" />

			<haxegui:controls:RadioButton name="Left" x="10" y="210" />
			<haxegui:controls:Stepper name="leftMargin" x="10" y="250" />

			<haxegui:controls:RadioButton name="Right" x="430" y="210" />
			<haxegui:controls:Stepper name="rightMargin" x="430" y="250" />

			<haxegui:controls:RadioButton name="Bottom" x="230" y="410" />
			<haxegui:controls:Stepper name="bottomMargin" x="230" y="450" />

		    <haxegui:controls:Component name="outer" >
			<haxegui:controls:Component name="inner" />
		    </haxegui:controls:Component>

		</haxegui:Container>
	</haxegui:Window>



			<script type="text/hscript">

			var win = root.getChildByName("Align Test Window");
			var c = win.getChildByName("Container");

			var o = c.getChildAt(c.numChildren-1);
			o.graphics.lineStyle(2, StyleManager.BACKGROUND - 0x141414 );
			o.graphics.beginFill(0xffffff);
			o.graphics.drawRect(0,0,300,300);
			o.graphics.endFill();
			o.move( (win.width - 300 ) / 2 - 10, (win.height - 300 ) / 2 - 20);


			o = o.getChildAt(0);
			o.graphics.lineStyle(2,0);
			o.graphics.beginFill(0xff0000);
			o.graphics.drawRect(0,0,100,100);
			o.graphics.endFill();
			o.move(100,100);


			function align(e)
			{
			trace(e.target.name);
				if(e.target.name=="Left")
				    o.x = 0;

				if(e.target.name=="Right")
				    o.x = o.parent.width - o.width;

				if(e.target.name=="Top")
				    o.y = 0;

				if(e.target.name=="Bottom")
				    o.y = o.parent.height - o.height;

			}

			c.getChildByName("Left").addEventListener(MouseEvent.MOUSE_DOWN, align);
			c.getChildByName("Right").addEventListener(MouseEvent.MOUSE_DOWN, align);
			c.getChildByName("Top").addEventListener(MouseEvent.MOUSE_DOWN, align);
			c.getChildByName("Bottom").addEventListener(MouseEvent.MOUSE_DOWN, align);


			</script>


-->
    <haxegui:Window name="Step Sequencer" x="100" y="40" width="460" height="400" sizeable="true" color="0x666666">
	<haxegui:MenuBar name="menubar" width="512" x="10" y="20" />
	<haxegui:ScrollPane name="ScrollPane1" x="10" y="44" >
		<haxegui:Container name="Container1" width="512" height="512" color="0x666666" >

		<haxegui:controls:Button name="Start" label="Start" x="20" y="20" width="60" color="0x666666" />
		<haxegui:controls:Button name="Stop" label="Stop" x="90" y="20" width="60" color="0x666666" />
		<haxegui:controls:Stepper name="Stepper1" x="170" y="28" value="120" step="1" min="1" max="300" color="0x666666"/>
		<haxegui:controls:Stepper name="Stepper2" x="250" y="28" disabled="true" min="1" max="16" color="0x666666"/>

		<script type="text/hscript">

		    var window = root.getChildByName("Step Sequencer");
		    var scrollpane = window.getChildByName("ScrollPane1");
		    var container = scrollpane.content.getChildByName("Container1");


		    var BPM_TO_MS = 60*250;

		    var start = container.getChildByName("Start");
		    var stop = container.getChildByName("Stop");

		    var step1 = container.getChildByName("Stepper1");
		    var step2 = container.getChildByName("Stepper2");


		    for(i in 1...16)
			{
			    var radio = new haxegui.controls.RadioButton(container, "RadioButton"+i, 24*i, 70);
			    radio.init();
			    radio.color =  0x666666;
			    radio.removeChild(radio.label);
			    radio.redraw();
			}



		    function update()
			{
			    step2.value ++ ;
			    if(step2.value > 15) step2.value = 1;
			    step2.onChanged();

			    var rb = container.getChildByName("RadioButton"+step2.value);
			    rb.color = 0xff0000;
			    rb.redraw();
			    rb.color =  0x666666;
			    Timer.delay( rb.redraw, BPM_TO_MS / step1.value );


			    for(i in 0...9)
			    {
			    var chkbox = container.getChildByName("CheckBox_"+i+"_"+step2.value);
			    if(chkbox!=null)
				{
				var s = container.getChildByName("tick"+i);
				s.graphics.lineStyle(2, 0x4D4D4D);
				s.graphics.beginFill(chkbox.checked ? 0x7DFF00 : 0x666666 );
				s.graphics.drawRect(0,0,10,20);
				s.graphics.endFill();
				}
			    }


			}

		    var t = new haxe.Timer( BPM_TO_MS / step1.value );
		    t.run = update;
		    t.stop();

		    step1.addEventListener( flash.events.Event.CHANGE,
			function(e)
			{
			    step2.value = 1;
			    for(i in 1...16)
			    {
				var rb = container.getChildByName("RadioButton"+i);
				rb.color = 0x666666;
				rb.redraw();
				rb.on = false;
			    }
			    t.stop();
			    t = new haxe.Timer( BPM_TO_MS / step1.value );
			    t.run = update;
			});


		    start.addEventListener( flash.events.MouseEvent.MOUSE_UP, function(e){ t.stop(); t = new haxe.Timer( BPM_TO_MS / step1.value ); t.run = update; });
		    stop.addEventListener ( flash.events.MouseEvent.MOUSE_UP, function(e){ t.stop(); });

		    for(i in 0...9)
		    {
			for(j in 1...16)
			{
			    var chkbox = new haxegui.controls.CheckBox(container, "CheckBox_"+i+"_"+j, 24*j, 100 + 24*i);
			    chkbox.init();
			    chkbox.removeChild(chkbox.label);
			    chkbox.color = (j==1 || j%5==0) ? 0x999999 : 0x666666;
			    chkbox.redraw();
			}
			var s = new flash.display.Sprite();
			s.name = "tick" + i;
			s.graphics.lineStyle(2, 0x4D4D4D);
			s.graphics.beginFill(0x666666);
			s.graphics.drawRect(0,0,10,20);
			s.graphics.endFill();
			s.x = 400;
			s.y = 100+ 24*i;
			container.addChild(s);
		    }

		</script>
		</haxegui:Container>
	</haxegui:ScrollPane>
    </haxegui:Window>



    <haxegui:Window name="Calculator" x="200" y="40" width="178" height="240" sizeable="false" >
		<events>
			<script type="text/hscript" action="onLoaded">
			<![CDATA[
				var container = this.getChildByName("Container1");
				var input = container.getChildByName("Input");

				input.tf.text = "";
				input.tf.width = 140;
				var fmt = DefaultStyle.getTextFormat();
				fmt.align =  flash.text.TextFormatAlign.RIGHT;
				input.tf.setTextFormat( fmt );

				this.clear = false;

				function clickHandler(e) {
					if(e.target.name == "=")
					 	parse();
					else
					{
						if(this.clear) {
							input.tf.text = e.target.name;
							this.clear = false;
						}
						else
							input.tf.text += e.target.name;
						input.tf.setTextFormat(fmt);
					}
				}

				for(i in 0...container.numChildren) {
					var child = container.getChildAt(i);
					if(child!=input)
						child.addEventListener(flash.events.MouseEvent.MOUSE_DOWN, clickHandler);

				}

				function parse() {
					var parser = new hscript.Parser();
					var program = parser.parseString( input.tf.text );
					var interp = new hscript.Interp();

					interp.variables.set( "this", this );
					ScriptStandardLibrary.set(interp);

					input.tf.text = interp.execute(program);
					input.tf.setTextFormat( fmt );

					this.clear = true;
				}

				function keyHandler(e) {
					if(e.keyCode == Keyboard.NUMPAD_ENTER || e.keyCode == Keyboard.ENTER) {
						parse();
						return;
					}
					if(this.clear) {
						input.tf.text = String.fromCharCode( e.charCode );
						this.clear = false;
					}
					else
						input.tf.text += String.fromCharCode( e.charCode );
					input.tf.setTextFormat( fmt );
				}

				this.addEventListener(flash.events.KeyboardEvent.KEY_DOWN, keyHandler);
				]]>
		    </script>
		</events>
		<haxegui:Container name="Container1" x="10" y="20" width="300" height="400" >
			<haxegui:controls:Input name="Input" x="10" y="16" width="150" />

			<haxegui:controls:Button name="7" label="7" x="10" y="50" width="30" />
			<haxegui:controls:Button name="8" label="8" x="48" y="50" width="30" />
			<haxegui:controls:Button name="9" label="9" x="86" y="50" width="30" />

			<haxegui:controls:Button name="4" label="4" x="10" y="88" width="30" />
			<haxegui:controls:Button name="5" label="5" x="48" y="88" width="30" />
			<haxegui:controls:Button name="6" label="6" x="86" y="88" width="30" />

			<haxegui:controls:Button name="1" label="1" x="10" y="126" width="30" />
			<haxegui:controls:Button name="2" label="2" x="48" y="126" width="30" />
			<haxegui:controls:Button name="3" label="3" x="86" y="126" width="30" />

			<haxegui:controls:Button name="0" label="0" x="10" y="164" width="30" />
			<haxegui:controls:Button name="." label="." x="48" y="164" width="30" />
			<haxegui:controls:Button name="=" label="=" x="86" y="164" width="30" />

			<haxegui:controls:Button name="*" label="*" x="126" y="50" width="30" />
			<haxegui:controls:Button name="/" label="/" x="126" y="88" width="30" />
			<haxegui:controls:Button name="+" label="+" x="126" y="126" width="30" />
			<haxegui:controls:Button name="-" label="-" x="126" y="164" width="30" />
		</haxegui:Container>
    </haxegui:Window>



    <haxegui:Window name="PixelRuler" x="200" y="40" width="720" height="70" sizeable="true" color="0xFFDD00" >
		<events>
			<script type="text/hscript" action="redraw">
			<![CDATA[
				var container = this.getChildByName("Container1");
				if(container == null) return;
				container.redraw();

				var numbers = new flash.display.Sprite();
				numbers.name = "numbers";
				for(i in 1...(.1*container.box.width))
				{
					var tf = new flash.text.TextField();
					tf.type = flash.text.TextFieldType.DYNAMIC;
					tf.text = Std.string(i*50);
					tf.x = i*50 - 10;
					tf.y = 15;
					tf.height = 20;
					tf.mouseEnabled = false;
					numbers.addChild(tf);
				}
				container.addChild(numbers);
				container.addEventListener(events.ResizeEvent.RESIZE,
				function(e)
				{
					numbers.y = container.box.height*.5 - 25;
					window.titlebar.title.text = "PixelRuler (" + container.box.width + "px)";
					window.titlebar.title.setTextFormat( DefaultStyle.getTextFormat() );
			    });
			]]></script>
		</events>
		<haxegui:Container name="Container1" x="10" y="20" width="710" height="60" color="0xFFDD00">
			<events>
				<script type="text/hscript" action="redraw">
					<![CDATA[
					//var window = root.getChildByName("PixelRuler");
					//var container = window.getChildByName("Container1");
					this.graphics.clear();
					this.graphics.beginFill (color, .75);
					this.graphics.drawRect (0, 0, this.box.width, this.box.height );
					this.graphics.endFill ();
					for(i in 0...(.5*this.box.width))
					{
						this.graphics.lineStyle(1,0x4E4300);
						this.graphics.moveTo(2*i, 0);
						this.graphics.lineTo(2*i, 10);

						this.graphics.moveTo(2*i, this.box.height - 10);
						this.graphics.lineTo(2*i, this.box.height);

						this.graphics.lineStyle(1,0x4E4300);
						this.graphics.moveTo(10*i, 0);
						this.graphics.lineTo(10*i, 15);

						this.graphics.moveTo(10*i, this.box.height - 15);
						this.graphics.lineTo(10*i, this.box.height);


						if(i%5==0 && (.1*this.box.width) > i )
						{
						this.graphics.moveTo(10*i, 0 );
						this.graphics.lineTo(10*i, 20 );
						this.graphics.moveTo(10*i, this.box.height - 20);
						this.graphics.lineTo(10*i, this.box.height);
						}

					}
					var b = this.box.clone();
					b.x=0;
					b.y=0;
					this.scrollRect = b;
					]]>
				</script>
			</events>
		</haxegui:Container>
    </haxegui:Window>

    <!-- Transcriber -->
    <haxegui:Window name="Transcriber" x="300" y="40" width="500" height="400" sizeable="true" >
	<haxegui:MenuBar name="MenuBar" width="400" x="10" y="20" />
	<haxegui:ToolBar name="ToolBar" width="400" x="10" y="44" >
	    <haxegui:controls:Button name="Run" label="Run" x="30" y="4" />
	    <haxegui:controls:Button name="Clear" label="Clear" x="130" y="4" />
	</haxegui:ToolBar>

	<haxegui:ScrollPane name="ScrollPane1" x="10" y="84" >
		    <script type="text/hscript">


			var window = root.getChildByName("Transcriber");
			var toolbar = window.getChildByName("ToolBar");
			var scrollpane = window.getChildByName("ScrollPane1");

			var tf = new flash.text.TextField();
			tf.name = "HtmlTextArea";
			tf.type = flash.text.TextFieldType.INPUT;
			tf.multiline = true;
			tf.wordWrap = true;
			tf.background = true;
			tf.backgroundColor = 0xFFFFFF;
			tf.width = 800;
			tf.height = 1000;
			tf.mouseEnabled = true;
			tf.tabEnabled = true;



			var str = "var n = 6;\nvar factorial = 1;\nfor(i in factorial...n)\n\tfactorial *= i;\nn+\"! = \"+factorial;\n" ;
			str += "\n/*\nvar window = new haxegui.Window(this.getChildByName(\"ScrollPane1\"));\nwindow.box.width = 160;\nwindow.box.height = 120;\nwindow.init();\n\nvar container = new haxegui.Container(window, \"Container\", 10, 20);\ncontainer.init();\n*/";
	/*
	var cssLoader = new flash.net.URLLoader();
	var cssRequest = new flash.net.URLRequest("green.css");
	function cssLoadComplete(e)
	    {
		trace(e);
		styles.parseCSS(e.target.data);
	    }
	cssLoader.addEventListener(flash.events.Event.COMPLETE, cssLoadComplete);
	cssLoader.load(cssRequest);
	*/

		var styles = new flash.text.StyleSheet();
		styles.parseCSS(".code-line-numbers {    color:#809080;    border-right:1px dotted #809080;    float:left;    text-align:right;    width:2em;    padding-right:3px;    margin-right:12px;}.code-code {}.code-keyword {    font-weight: bold;    color: #000000;}.code-type {    font-weight: bold;    color: #106020;}.code-variable {    color: #004050;}.code-number {    color: #F08000;}.code-comment {    color: #208000;}.code-string {    color: #F00000;}");
		tf.styleSheet = styles;
		tf.htmlText = CodeHighlighter.highlight( str, "haxe") ;


		scrollpane.addChild(tf);



			function clear(e) { tf.text = ""; }

			var clearbtn = toolbar.getChildByName("Clear");
			clearbtn.addEventListener(flash.events.MouseEvent.MOUSE_UP, clear);


			function run(e)
			    {
				var parser = new hscript.Parser();
				var program = parser.parseString(tf.text);
				var interp = new hscript.Interp();

				interp.variables.set( "this", window );
				ScriptStandardLibrary.set(interp);

				trace(interp.execute(program));

				root.getChildByName("Console").onRaise(null);

			    }


			var runbtn = toolbar.getChildByName("Run");
			runbtn.addEventListener(flash.events.MouseEvent.MOUSE_UP, run);


		    </script>

	</haxegui:ScrollPane>
    </haxegui:Window>

<!--
    <haxegui:Window name="Tweening" x="120" y="140" width="400" height="300" sizeable="true" >
	    <haxegui:ScrollPane name="ScrollPane1" x="10" y="20" >
		<haxegui:Container name="Container1" width="400" height="300" color="0xffffff" >
			<haxegui:controls:Component name="tweened" />
			<haxegui:controls:Component name="framed" />

			<script type="text/hscript">

			    var window = root.getChildByName("Tweening");
			    var scrollpane = window.getChildByName("ScrollPane1");
			    var container = scrollpane.content.getChildByName("Container1");


			    var tweened = container.getChildByName("tweened");

			    tweened.graphics.lineStyle(2, 0);
			    tweened.graphics.beginFill(0xff0000);
			    tweened.graphics.drawCircle(20,20,20);
			    tweened.graphics.endFill();

			    tweened.move(180,130);

			    var timer = new haxe.Timer(2000);
			    timer.run = function()
			    {
			    var t = new feffects.Tween( tweened.x, Std.random(container.box.width - 40), 2000, tweened, "x", feffects.easing.Linear.easeInOut );
			    var t2 = new feffects.Tween( tweened.y, Std.random(container.box.height - 40), 2000, tweened, "y", feffects.easing.Linear.easeInOut );
			    t.start();
			    t2.start();
			    }



			    var framed = container.getChildByName("framed");

			    framed.graphics.lineStyle(2, 0);
			    framed.graphics.beginFill(0xffff00);
			    framed.graphics.drawCircle(20,20,20);
			    framed.graphics.endFill();
			    framed.move(20,20);
			    framed.vx = 1;
			    framed.vy = 1;
			    framed.addEventListener(flash.events.Event.ENTER_FRAME,
			    function(e)
				{

				    if( 0 > framed.x || framed.x > container.box.width - 40 )
					{
					    framed.vx *= -1;
					    framed.x += framed.vx;
					}

				    if( 0 > framed.y || framed.y > container.box.height - 40  )
					{
					    framed.vy *= -1;
					    framed.y += framed.vy;
					}


				    framed.x += framed.vx;
				    framed.y += framed.vy;
				}
				);

			    trace("Added onEnterFrame to " + framed);

			</script>
		</haxegui:Container>
	    </haxegui:ScrollPane>
    </haxegui:Window>




    <haxegui:Window name="Introspector" x="200" y="40" width="720" height="300" sizeable="true" >
	<haxegui:MenuBar name="MenuBar" width="512" x="10" y="20" />
	    <haxegui:ScrollPane name="ScrollPane1" x="10" y="24" >
		<haxegui:Container name="Container1" width="512" height="512" >
	    </haxegui:ScrollPane>
    </haxegui:Window>
-->

</haxegui:Layout>
